.tnc > h1 {
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}

.tnc > h2 {
    font-weight: 700;
    font-size: larger;
    padding-top: 16px;
}

.tnc > p {
    padding-bottom : 8px;
}

.tnc > ul {
    margin-bottom: 8px;
}
.tnc > ul > li {
    padding-left: 16px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    
}